<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Final Project</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/project-3.css">
</head>
<body>
        <div class="container body-container">
                <div class="row page-header">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 "><h1 class="page_title">Book Price and Ratings</h1></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h3>Overview</h3>
                        <p>
                            Project 3 is the final team activity and is the cumulative overview of the various topics learned, including storing and analyzing data, predictive analysis  using machine learning and visualization for the chosen topic.
                        </p>
                        <p>
                            We worked on finding a solution to predicting optimal price point for a n upcoming book based on category, given the topic.  The learnings from one category – books , then can be applied to other categories and help forming a pattern to help the seller determine the best price for their offerings. We want to deep dive into data analysis and gain insights on predictive capability of the data via machine learning. 

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <img id="myImg" src="static/Graph_2.png" alt="Volume by Categories" style="width:100%;max-width:500px">
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="static/Graph_1.png" class ="img-responsive" style="width:100%" alt="Ratings and Price">

                    </div>
                </div>
            </div>
                <div class="row try_model">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h2>Try Out Our Model</h2>
                        <p>Select a Book Category and add a Price to see the Predicted Rating</p>
                    </div>
                </div>
                <div class="row try_model">
                    <div class="col-md-10"> 
                        <div class="col-md-2"></div>   
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Categories</label>
                                    <select class="selectpicker" id="cat-select">
                                        <option>Travel</option>
                                        <option>Comedy</option>
                                        <option>Sports & Outdoors</option>
                                        <option>Health</option>
                                        <option>Computers & Technology</option>
                                        <option>Politics & Social Sciences</option>
                                        <option>Education & Teaching</option>
                                        <option>New</option>
                                        <option>Childrens Books</option>
                                        <option>Biographies & Memoirs</option>
                                        <option>Literature & Fiction</option>
                                        <option>Crafts</option>
                                        <option>Cookbooks</option>
                                        <option>Science Fiction & Fantasy</option>
                                        <option>Reference</option>
                                        <option>Arts & Photography</option>
                                        <option>Humor & Entertainment</option>
                                        <option>Medical Books</option>
                                        <option>History</option>
                                        <option>Science & Math</option>
                                        <option>Business & Money</option>
                                        <option>Teen & Young Adult</option>
                                        <option>Comics & Graphic Novels</option>
                                        <option>Engineering & Transportation</option>
                                        <option>Calendars</option>
                                        <option>Self-Help</option>
                                        <option>Christian Books & Bibles</option>
                                        <option>Parenting & Relationships</option>
                                        <option>Religion & Spirituality</option>
                                        <option>Law</option>
                                        <option>Mystery</option>
                                        <option>Gay & Lesbian</option>
                                        <option>Romance</option>
                                        <option>Crafts & Sewing</option>
                                        <option>Exterior Accesories</option>
                                    </select>
                                </div>
                                <form class="col-md-3" >
                                    <div class="form-row">
                                    <div class="col-3">
                                        <input type="text" class="form-control" placeholder="Price" id="price_input">
                                    </div>
                                    </div>
                                    <button type="buton" class="btn btn-primary" onclick="filterCharts()">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    </div>
            </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class = "col=md-8">
                <p id="Category_result"></p>
                <p id="Price_result"></p>
                <p id="Predicted_result"></p>
            </div>
        </div>
        <div class="row">
            <div class ="col-md-2"></div>
            <div class = "col-md-8">
                <h3>Data Source:</h3>
                <p>R. He, J. McAuley. Modeling the visual evolution of fashion trends
                        with one-class collaborative filtering. WWW, 2016
                        J. McAuley, C. Targett, J. Shi, A. van den Hengel. Image-based
                        recommendations on styles and substitutes. SIGIR, 2015</p>
            </div>
        </div>
    <script src="static/js/plot.js"></script>
</body>
</html>